## Words

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [2]:
# your code here 
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [11]:
# your code here
words = ['pay', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

for word in words:
    if len(word) < 5:
       print(word.upper())

PAY
BAR
DATE
LEAD
THAT

**Print the first word starting with "t"**

In [9]:
# your code hereword
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']
for word in words: 
    if word[0] == 't':
        print(word.upper())

THEATRE
THAT

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [12]:
# your code here
a = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

for number in a:
    print(int(number) * int(number))

1
4
9
16
25
36
49
64
81
100

**Print a list containing the square of every odd number from 1 to 10**

In [17]:
# your code here
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in a:
    if number % 2 != 0:
        print(int(number) * int(number))

1
9
25
49
81

**Create a list with the squares of all multiples of 8 below 1000**

In [29]:
# your code here
number_limit = 1

while number_limit <1000:
    if number_limit % 8 == 0:
        print(int(number_limit) * int(number_limit))

    number_limit += 1

64
256
576
1024
1600
2304
3136
4096
5184
6400
7744
9216
10816
12544
14400
16384
18496
20736
23104
25600
28224
30976
33856
36864
40000
43264
46656
50176
53824
57600
61504
65536
69696
73984
78400
82944
87616
92416
97344
102400
107584
112896
118336
123904
129600
135424
141376
147456
153664
160000
166464
173056
179776
186624
193600
200704
207936
215296
222784
230400
238144
246016
254016
262144
270400
278784
287296
295936
304704
313600
322624
331776
341056
350464
360000
369664
379456
389376
399424
409600
419904
430336
440896
451584
462400
473344
484416
495616
506944
518400
529984
541696
553536
565504
577600
589824
602176
614656
627264
640000
652864
665856
678976
692224
705600
719104
732736
746496
760384
774400
788544
802816
817216
831744
846400
861184
876096
891136
906304
921600
937024
952576
968256
984064

## People

In [ ]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [23]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]
number_kids = 0
for person in people:
    number_kids = number_kids + person["n_kids"]
    
print("Number of people:", len(people) + number_kids)

Number of people: 15

**How many people have kids**?

In [ ]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many kids do they have in total?**

In [22]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

kids_total = 0
for person in people:
    kids_total = kids_total + person['n_kids']
    
    
print("total kids are:", kids_total)

total kids are: 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [25]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

for person in people:
    if person["name"][-1] == 'a':
        print(person["name"])

Sonia
Lucía