## Words

In [66]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [65]:
# your code here 
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']

for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [74]:
# your code here

for word in words:
    if len(word) >= 5:
       print(word.upper())

FILLING
THEATRE
EASYGOING
STORY
ISLAND

**Print the first word starting with "t"**

In [68]:
# your code hereword
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story', 'island']
for word in words: 
    if word[0] == 't':
        print(word.upper())
        break

THEATRE

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [75]:
# your code here
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

List_squares = []
for number in a:
    square = number**2
    List_squares.append(square)

print(List_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Print a list containing the square of every odd number from 1 to 10**

In [61]:
# your code here
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for number in a:
    if number % 2 != 0:
        odd = (number * number)
        print(odd)

1
9
25
49
81

**Create a list with the squares of all multiples of 8 below 1000**

In [72]:
# your code here
List_squares_mutiples_8 = []
number_limit = 1

while number_limit <1000:
    if number_limit % 8 == 0:
        squares = (number_limit * number_limit)
    number_limit += 1
    List_squares_mutiples_8.append(squares)

print(List_squares_mutiples_8)

[984064, 984064, 984064, 984064, 984064, 984064, 984064, 64, 64, 64, 64, 64, 64, 64, 64, 256, 256, 256, 256, 256, 256, 256, 256, 576, 576, 576, 576, 576, 576, 576, 576, 1024, 1024, 1024, 1024, 1024, 1024, 1024, 1024, 1600, 1600, 1600, 1600, 1600, 1600, 1600, 1600, 2304, 2304, 2304, 2304, 2304, 2304, 2304, 2304, 3136, 3136, 3136, 3136, 3136, 3136, 3136, 3136, 4096, 4096, 4096, 4096, 4096, 4096, 4096, 4096, 5184, 5184, 5184, 5184, 5184, 5184, 5184, 5184, 6400, 6400, 6400, 6400, 6400, 6400, 6400, 6400, 7744, 7744, 7744, 7744, 7744, 7744, 7744, 7744, 9216, 9216, 9216, 9216, 9216, 9216, 9216, 9216, 10816, 10816, 10816, 10816, 10816, 10816, 10816, 10816, 12544, 12544, 12544, 12544, 12544, 12544, 12544, 12544, 14400, 14400, 14400, 14400, 14400, 14400, 14400, 14400, 16384, 16384, 16384, 16384, 16384, 16384, 16384, 16384, 18496, 18496, 18496, 18496, 18496, 18496, 18496, 18496, 20736, 20736, 20736, 20736, 20736, 20736, 20736, 20736, 23104, 23104, 23104, 23104, 23104, 23104, 23104, 23104, 25600, 25600, 25600, 25600, 25600, 25600, 25600, 25600, 28224, 28224, 28224, 28224, 28224, 28224, 28224, 28224, 30976, 30976, 30976, 30976, 30976, 30976, 30976, 30976, 33856, 33856, 33856, 33856, 33856, 33856, 33856, 33856, 36864, 36864, 36864, 36864, 36864, 36864, 36864, 36864, 40000, 40000, 40000, 40000, 40000, 40000, 40000, 40000, 43264, 43264, 43264, 43264, 43264, 43264, 43264, 43264, 46656, 46656, 46656, 46656, 46656, 46656, 46656, 46656, 50176, 50176, 50176, 50176, 50176, 50176, 50176, 50176, 53824, 53824, 53824, 53824, 53824, 53824, 53824, 53824, 57600, 57600, 57600, 57600, 57600, 57600, 57600, 57600, 61504, 61504, 61504, 61504, 61504, 61504, 61504, 61504, 65536, 65536, 65536, 65536, 65536, 65536, 65536, 65536, 69696, 69696, 69696, 69696, 69696, 69696, 69696, 69696, 73984, 73984, 73984, 73984, 73984, 73984, 73984, 73984, 78400, 78400, 78400, 78400, 78400, 78400, 78400, 78400, 82944, 82944, 82944, 82944, 82944, 82944, 82944, 82944, 87616, 87616, 87616, 87616, 87616, 87616, 87616, 87616, 92416, 92416, 92416, 92416, 92416, 92416, 92416, 92416, 97344, 97344, 97344, 97344, 97344, 97344, 97344, 97344, 102400, 102400, 102400, 102400, 102400, 102400, 102400, 102400, 107584, 107584, 107584, 107584, 107584, 107584, 107584, 107584, 112896, 112896, 112896, 112896, 112896, 112896, 112896, 112896, 118336, 118336, 118336, 118336, 118336, 118336, 118336, 118336, 123904, 123904, 123904, 123904, 123904, 123904, 123904, 123904, 129600, 129600, 129600, 129600, 129600, 129600, 129600, 129600, 135424, 135424, 135424, 135424, 135424, 135424, 135424, 135424, 141376, 141376, 141376, 141376, 141376, 141376, 141376, 141376, 147456, 147456, 147456, 147456, 147456, 147456, 147456, 147456, 153664, 153664, 153664, 153664, 153664, 153664, 153664, 153664, 160000, 160000, 160000, 160000, 160000, 160000, 160000, 160000, 166464, 166464, 166464, 166464, 166464, 166464, 166464, 166464, 173056, 173056, 173056, 173056, 173056, 173056, 173056, 173056, 179776, 179776, 179776, 179776, 179776, 179776, 179776, 179776, 186624, 186624, 186624, 186624, 186624, 186624, 186624, 186624, 193600, 193600, 193600, 193600, 193600, 193600, 193600, 193600, 200704, 200704, 200704, 200704, 200704, 200704, 200704, 200704, 207936, 207936, 207936, 207936, 207936, 207936, 207936, 207936, 215296, 215296, 215296, 215296, 215296, 215296, 215296, 215296, 222784, 222784, 222784, 222784, 222784, 222784, 222784, 222784, 230400, 230400, 230400, 230400, 230400, 230400, 230400, 230400, 238144, 238144, 238144, 238144, 238144, 238144, 238144, 238144, 246016, 246016, 246016, 246016, 246016, 246016, 246016, 246016, 254016, 254016, 254016, 254016, 254016, 254016, 254016, 254016, 262144, 262144, 262144, 262144, 262144, 262144, 262144, 262144, 270400, 270400, 270400, 270400, 270400, 270400, 270400, 270400, 278784, 278784, 278784, 278784, 278784, 278784, 278784, 278784, 287296, 287296, 287296, 287296, 287296, 287296, 287296, 287296, 295936, 295936, 295936, 295936, 295936, 295936, 295936, 295936, 304704, 304704, 304704, 304704, 304704, 304704, 304704, 304704, 313600, 313600, 313600, 313600, 313600, 313600, 313600, 313600, 322624, 322624, 322624, 322624, 322624, 322624, 322624, 322624, 331776, 331776, 331776, 331776, 331776, 331776, 331776, 331776, 341056, 341056, 341056, 341056, 341056, 341056, 341056, 341056, 350464, 350464, 350464, 350464, 350464, 350464, 350464, 350464, 360000, 360000, 360000, 360000, 360000, 360000, 360000, 360000, 369664, 369664, 369664, 369664, 369664, 369664, 369664, 369664, 379456, 379456, 379456, 379456, 379456, 379456, 379456, 379456, 389376, 389376, 389376, 389376, 389376, 389376, 389376, 389376, 399424, 399424, 399424, 399424, 399424, 399424, 399424, 399424, 409600, 409600, 409600, 409600, 409600, 409600, 409600, 409600, 419904, 419904, 419904, 419904, 419904, 419904, 419904, 419904, 430336, 430336, 430336, 430336, 430336, 430336, 430336, 430336, 440896, 440896, 440896, 440896, 440896, 440896, 440896, 440896, 451584, 451584, 451584, 451584, 451584, 451584, 451584, 451584, 462400, 462400, 462400, 462400, 462400, 462400, 462400, 462400, 473344, 473344, 473344, 473344, 473344, 473344, 473344, 473344, 484416, 484416, 484416, 484416, 484416, 484416, 484416, 484416, 495616, 495616, 495616, 495616, 495616, 495616, 495616, 495616, 506944, 506944, 506944, 506944, 506944, 506944, 506944, 506944, 518400, 518400, 518400, 518400, 518400, 518400, 518400, 518400, 529984, 529984, 529984, 529984, 529984, 529984, 529984, 529984, 541696, 541696, 541696, 541696, 541696, 541696, 541696, 541696, 553536, 553536, 553536, 553536, 553536, 553536, 553536, 553536, 565504, 565504, 565504, 565504, 565504, 565504, 565504, 565504, 577600, 577600, 577600, 577600, 577600, 577600, 577600, 577600, 589824, 589824, 589824, 589824, 589824, 589824, 589824, 589824, 602176, 602176, 602176, 602176, 602176, 602176, 602176, 602176, 614656, 614656, 614656, 614656, 614656, 614656, 614656, 614656, 627264, 627264, 627264, 627264, 627264, 627264, 627264, 627264, 640000, 640000, 640000, 640000, 640000, 640000, 640000, 640000, 652864, 652864, 652864, 652864, 652864, 652864, 652864, 652864, 665856, 665856, 665856, 665856, 665856, 665856, 665856, 665856, 678976, 678976, 678976, 678976, 678976, 678976, 678976, 678976, 692224, 692224, 692224, 692224, 692224, 692224, 692224, 692224, 705600, 705600, 705600, 705600, 705600, 705600, 705600, 705600, 719104, 719104, 719104, 719104, 719104, 719104, 719104, 719104, 732736, 732736, 732736, 732736, 732736, 732736, 732736, 732736, 746496, 746496, 746496, 746496, 746496, 746496, 746496, 746496, 760384, 760384, 760384, 760384, 760384, 760384, 760384, 760384, 774400, 774400, 774400, 774400, 774400, 774400, 774400, 774400, 788544, 788544, 788544, 788544, 788544, 788544, 788544, 788544, 802816, 802816, 802816, 802816, 802816, 802816, 802816, 802816, 817216, 817216, 817216, 817216, 817216, 817216, 817216, 817216, 831744, 831744, 831744, 831744, 831744, 831744, 831744, 831744, 846400, 846400, 846400, 846400, 846400, 846400, 846400, 846400, 861184, 861184, 861184, 861184, 861184, 861184, 861184, 861184, 876096, 876096, 876096, 876096, 876096, 876096, 876096, 876096, 891136, 891136, 891136, 891136, 891136, 891136, 891136, 891136, 906304, 906304, 906304, 906304, 906304, 906304, 906304, 906304, 921600, 921600, 921600, 921600, 921600, 921600, 921600, 921600, 937024, 937024, 937024, 937024, 937024, 937024, 937024, 937024, 952576, 952576, 952576, 952576, 952576, 952576, 952576, 952576, 968256, 968256, 968256, 968256, 968256, 968256, 968256, 968256, 984064, 984064, 984064, 984064, 984064, 984064, 984064, 984064]

## People

In [59]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [77]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

number_people = len(people)
    
print("Number of people:",  number_people)

Number of people: 5

**How many people have kids**?

In [79]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]
kids = 0
for person in people:
    number_kids = person['n_kids']
    
    if number_kids > 0:
       kids += 1

print(kids)

4

**How many kids do they have in total?**

In [56]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

kids_total = 0
for person in people:
    kids_total = kids_total + person['n_kids']
    
    
print("total kids are:", kids_total)

total kids are: 10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [84]:
# your code here
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía", "age": 22, "n_kids": 2
    },
    {
        "name": "Leo", "age": 55, "n_kids": 5
    }
]
new_list_year = []

for person in people:
    if person["name"].endswith("a"):
        new_person = {
            "name": person["name"],
            "age": person["age"] + 1,
            "n_kids": person["n_kids"] + 1,
        }
        
        new_list_year.append(new_person)

print(new_list_year)

[{'name': 'Sonia', 'age': 42, 'n_kids': 2}, {'name': 'Lucía', 'age': 23, 'n_kids': 3}]